Repository COS301-SE-2023/WriteToPdf, pull requests merged in 2023-07, with the labels that each got.

#178 Dev/frontend
  frontend/angular.json
  frontend/audit-report.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth.guard.ts
  frontend/src/app/edit/edit.component.ts
  frontend/src/app/file-upload-popup/file-upload-popup.component.ts
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
  frontend/src/app/login/login.component.ts
  frontend/src/app/services/file.service.ts
  frontend/src/app/services/folder.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/app/signup/signup.component.ts
  frontend/src/environments/environment.development.ts
  frontend/src/environments/environment.staging.ts
  frontend/src/environments/environment.ts
Labels: scope:Frontend

#212 Pull request for conversion to pdf implementation.
  frontend/angular.json
  frontend/src/app/edit/edit.component.html
  frontend/src/app/edit/edit.component.ts
  frontend/src/app/login/login.component.html
  frontend/src/app/login/login.component.scss
  frontend/src/app/services/file.service.ts
  frontend/src/app/signup/signup.component.html
  frontend/src/app/signup/signup.component.scss
  frontend/src/styles.scss
Labels: priority:High, scope:Frontend

#287 Dev ocr touchups
  backend/src/conversion/conversion.service.ts
  backend/src/s3/s3.service.ts
  backend/src/text_manager/text_manager.service.ts
Labels: scope:Frontend

#295 Dev/s3/tests
  backend/src/s3/s3.service.spec.ts
  backend/src/s3/s3.service.ts
Labels: scope:Backend
